#profile {
  max-width: 30%;
  border: 5px solid #00897b;
}

.brand-logo{
  margin-left: 15px;
}

#head {
  /*background-image: url(../images/background.jpg);*/
}

.parallax-container {
  height: 200px;
}
